/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */

a {
  color: #0366d6;
}


.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-top: 70px;
    margin-bottom: 60px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 40px; /* Vertically center the text there */
    background-color: #5e9cf2;
}


.header {
    position: fixed;
    top: 0;
    left: 0;
    height: 50px;
    width: 100%;
    background-color: #5e9cf2;
    z-index: 9999;
}

main {
    margin-top:70px;
}


.black_overlay {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background: #666666;
    z-index: 1001;
    -moz-opacity: 0.8;
    opacity: .80;
    filter: alpha(opacity=60);
}


.white_content {
    display: none;
    position: absolute;
    padding: 6px;
    width: 90%;
    border: 16px solid #E3F2FC;
    background-color: white;
    z-index: 1002;
    /*overflow: auto; */
}





.burgur {
    left: 15px;
    top: 23px;
    position: absolute;
    width: 20px;
    height: 2px;
    background: #ffffff;
}

    .burgur .top-line {
        width: 20px;
        height: 2px;
        background-color: #ffffff;
        bottom: -5px;
        position: absolute;
        left: 0;
        -webkit-transition: -webkit-transform .3s;
        transition: transform .3s;
    }

    .burgur .bot-line {
        width: 20px;
        height: 2px;
        background-color: #ffffff;
        top: -5px;
        position: absolute;
        left: 0;
        -webkit-transition: -webkit-transform .3s;
        transition: transform .3s;
    }


    .burgur.on {
        width: 0;
    }

.burgur.on .bot-line {
    -webkit-transform: translateY(5px) rotate(135deg);
    transform: translateY(5px) rotate(135deg);
}

.burgur.on .top-line {
    -webkit-transform: translateY(-5px) rotate(-135deg);
    transform: translateY(-5px) rotate(-135deg);
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    width: 100%;
}

.container {
    width: 100%;
    margin:0 auto;
    /*border: 1px solid #e1e1e1; */
}


.head {
    /*
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #e1e1e1;
    position: relative;
    */
    position: fixed;
    top: 0;
    left: 0;
    height: 50px;
    width: 100%;
    background-color: #5e9cf2;
    z-index: 9999;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    text-align:left;
    font-size: 32px;
    font-style: italic;
    font-weight: 800;
    color:#ffffff;
    
}

.logo > span {
    cursor: pointer;
}

.login {
    text-align: right;
    color:#ffffff;
    margin-right:30px;
}

.glyphicon
{
    color:#ffffff;
}

.side-menu {
    width: 100%;
    position: absolute;
    left: -100%;
    top: 50px;
    right: 0;
    bottom: 0;
    -webkit-transition: left .3s;
    -moz-transition: left .3s;
    -ms-transition: left .3s;
    -o-transition: left .3s;
    transition: left .3s;
    background-color: #cccccc;
    z-index: 10000;
}

.side-menu-title {
    width: 100%;
    height: 100px;
    font-size: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #e1e1e1;
}

.side-menu.on {
    left: 0;
}

.side-menu ul li {
    display: inline-block;
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid #e1e1e1;
}

.side-open {
    width: 60px;
    height: 50px;
    /* cursor: pointer;  */
    text-align: center;
}