
@{
}
<div id="lnb" class="flex_container">
    <div class="lnb_box" onclick="javascript:getToonList('에피소드','g',);">에피소드</div>
    <div class="lnb_box" onclick="javascript:getToonList('옴니버스','g');">옴니버스</div>
    <div class="lnb_box" onclick="javascript:getToonList('스토리','g');">스토리</div> | 
    <div class="lnb_box" onclick="javascript:getToonList('일상','g');">일상</div>
    <div class="lnb_box" onclick="javascript:getToonList('개그','g');">개그</div>
    <div class="lnb_box" onclick="javascript:getToonList('판타지','g');">판타지</div>
    <div class="lnb_box" onclick="javascript:getToonList('액션','g');">액션</div>
    <div class="lnb_box" onclick="javascript:getToonList('드라미','g');">드라마</div>
    <div class="lnb_box" onclick="javascript:getToonList('순정','g');">순정</div>
    <div class="lnb_box" onclick="javascript:getToonList('감성','g');">감성</div>
    <div class="lnb_box" onclick="javascript:getToonList('스릴러','g');">스릴러</div>
    <div class="lnb_box" onclick="javascript:getToonList('무협/사극','g');">무협/사극</div>
    <div class="lnb_box" onclick="javascript:getToonList('스포츠','g');">스포츠</div>
</div>
    <hr />