
@{
}

<div id="lnb" class="flex_container">
	<div class="lnb_box" onclick="javascript:getToonList(0,'w');" data-week="0" style="color:red;">일요일</div>
	<div class="lnb_box" onclick="javascript:getToonList(1,'w');" data-week="1" >월요일</div>
	<div class="lnb_box" onclick="javascript:getToonList(2,'w');" data-week="2" >화요일</div>
	<div class="lnb_box" onclick="javascript:getToonList(3,'w');" data-week="3" >수요일</div>
	<div class="lnb_box" onclick="javascript:getToonList(4,'w');" data-week="4" >목요일</div>
	<div class="lnb_box" onclick="javascript:getToonList(5,'w');" data-week="5" >금요일</div>
	<div class="lnb_box" onclick="javascript:getToonList(6,'w');" data-week="6" style="color:blue;">토요일</div>
</div>
<hr />