
@{
	var genre = Convert.ToString(ViewBag.Genre);
}

<script type="text/javascript">


	$(function () {

		var gan = decodeURI("@genre");

		getToonList(gan, 'g');

	});
	

	function getToonList(val, mode) {


		$(".lnb_box").each(function (i, item) {
			$(this).removeClass("on");
			if ($(this).text() == val) $(this).addClass("on");
		});


		$.ajax({
			type: "post",
			url: "/webtoon/ToonList" ,
			data: "mode="+ mode + "&val=" +val, 
			success: function (data) {
				console.log(data);
				var listCnt = 0;

				var html = '<table class="table table-hover">';
				if (data != null && data.length > 0) {

					listCnt = data.length;

					for (var i = 0; i < data.length; i++) {
						//listOpt += '<option value="'+ data[i].no + '">' + data[i].name + '</option>'
						html += '<tr onclick="javascript:goDetail('+ data[i].titleId +');">';
						html += '<td style="width:100px;"><img src="'+ data[i].thumImg +'" alt="" style="height:70px;"/></td>';
						html += '<td><b>' + data[i].titleName + '</b>&nbsp;&nbsp;&nbsp;<span style="font-size:12px;">' + data[i].artist + '</span><br>' + data[i].star + '<br>' + data[i].lastUpdDate + '</td>';
						html += '<td></td>';
						html += '</tr>';
					}
				}

				html += '</table>';
				
				$("#genreCnt").text(listCnt);
				$("#weekList").html(html);
			}
		});

	}


	function goDetail(id) {
		location.href = "/webtoon/toon/" + id;
	}




</script>


<partial name="_pLNBGenre" />



<div style="margin-top: 8px;">
	<div sstyle="margin-bottom:15px;">
		<b style="font-size:16px;">@genre 웹툰</b> | <span>총 <span id="genreCnt"></span> </span>
	</div>
	
	<div id="weekList"></div>

</div>

