
@{
	var genre = Convert.ToString(ViewBag.Genre);
}

<script type="text/javascript">


	$(function () {

		var gan = decodeURI("@genre");

		getToonList(gan, 'g');

	});
	

	function getToonList(val, mode) {

		console.log("====");
		console.log(val);

		$.ajax({
			type: "post",
			url: "/webtoon/ToonList" ,
			data: "mode="+ mode + "&val=" +val, 
			success: function (data) {
				console.log(data);
				var listCnt = 0;
				
				if (data != null && data.length > 0) {

					listCnt = data.length;

					var html = '<table class="table table-hover">';
  		

					for (var i = 0; i < data.length; i++) {
						//listOpt += '<option value="'+ data[i].no + '">' + data[i].name + '</option>'
						html += '<tr onclick="javascript:goDetail('+ data[i].titleId +');">';

						html += '<td style="width:100px;"><img src="'+ data[i].thumImg +'" alt="" style="height:70px;"/></td>';
						html += '<td><b>' + data[i].titleName + '</b>&nbsp;&nbsp;&nbsp;<span style="font-size:12px;">' + data[i].artist + '</span><br>' + data[i].star + '<br>' + data[i].lastUpdDate + '</td>';
						html += '<td></td>';

						html += '</tr>';

					}

					html += '</table>';
				}
				console.log(listCnt);
				$("#genreCnt").text(listCnt);

				$("#weekList").html(html);
				
			}
		});

	}


	function goDetail(id) {
		location.href = "/webtoon/toon/" + id + "?&genre=@genre";
	}




</script>


<hr />

<div style="margin-top: 8px;">
	<div sstyle="margin-bottom:15px;">
		<b style="font-size:16px;">@genre 웹툰</b> | <span>총 <span id="genreCnt"></span> </span>
	</div>
	
	<div id="weekList"></div>

</div>

<!--
<div id="webtoon_desc" class="media">
  <div class="media-left media-middle">
    <a href="#">
      <img class="media-object" src="..." alt="...">
    </a>
  </div>
  <div class="media-body">
    <h4 class="media-heading">Middle aligned media</h4>
    ...
  </div>
</div>

	-->