<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta name ="google-signin-client_id" content="1061916295015-dcb9sn0767gmk7md8i0hsss0lplbgd4k.apps.googleusercontent.com">

    <title>@ViewData["Title"] 웹툰</title>


    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/site_webtoon.css">

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js"></script>
    
        <!-- bxSlider.js-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>

    
    @RenderSection("Scripts", required: false)


    <script type="text/javascript">

        $(document).ready(function () {

            $("#burgur").click(function () {  
                
                if ($("#burgur").hasClass('on'))
                { 
                    $("#burgur").removeClass('on'); 
                    $("#side-menu").removeClass('on');
                }
                else
                {
                    $("#burgur").addClass('on');  
                    $("#side-menu").addClass('on');
                }
            });
        });

        function goPage(url) {
            location.href = url;
		}


    </script>

</head>
<body>

<div class="wrapper">
    <div class="container">
        <div class="head">
            <div class="side-open" id="side-open" style="float:left;">
                
                <span class="burgur" id="burgur">
                    <span class="top-line"></span>
                    <span class="bot-line"></span>
                </span>
                
            </div>
      
            <div class="logo"><span onclick="javascript: goPage('/Webtoon');"></span></div>


            <partial name="_pHeader.cshtml" />

        </div>

        <partial name="_pWebToonGNB.cshtml" />
        
        <div class="body">
            <div class="content">
                @RenderBody()
            </div>
        </div>
    </div> 

    <footer class="border-top footer text-muted">

        <partial name="_pFooter.cshtml" />



        <div class="container" style="clear:both;">
            <div style="float:left;">
                &copy; 2022 - Webtoon. All Rights Reserved.
            </div>
            
            <div style="margin-right:15px;text-align:right;">
                <img src="/img/opentype01.png" style="width:60px;"/>
            </div>
        </div>
        
    </footer>

    
    <partial name="_pSideMenu.cshtml" />

</div>


</body>
</html>

