@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}



    <footer class="border-top footer text-muted">

        <div class="container" style="text-align:center;height:30px;">

            <ul style="list-style: none; margin:0 15px 0 25px; padding: 0;">
                <li style="float:left;border:0;margin-left:20px;border-right:1px;"><a href="/webtoon/Craw">웹툰등록 </a></li>
                <li style="float:left;border:0;margin-left:20px;border-right:1px;"><a href="/webtoon/Crawlist">크롤링  </a></li>
            </ul>

        </div>

        <div class="container" style="clear:both;">
            <div style="float:left;">
                &copy; 2022 - View. All Rights Reserved.
            </div>
        </div>
        
    </footer>        