@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    var controller = Context.Request.RouteValues["Controller"].ToString();
    var path = ViewData["LoginPath"];
	if(path != null)
	{
        controller = path.ToString();
	}


}

            <div class="login">

                @*
            @if (User.Identity.IsAuthenticated)
			{
                    
                @if (User.Claims.Any(x => x.Type == "name"))
				{
                    <span style="font-size:12px;">
                    @string.Format("{0}({1})", User.Claims.FirstOrDefault(x => x.Type == "name").Value)
                    </span>
				}
                    <button type="button" class="btn btn-xs" onclick="javascript:goPage('/Account/Logout?path=@controller');"style="background-color:#b4b9bf;">로그아웃</button>
			}
			else
			{
                <button type="button" class="btn btn-xs btn-default" onclick="javascript:goPage('/Account/Login?path=@controller');">로그인</button>
			}

                *@

            </div>