
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
	var controller = Context.Request.RouteValues["Controller"].ToString();
	var action = Context.Request.RouteValues["Action"].ToString();

	var week = ViewBag.Week;
	var genre = ViewBag.Genre;
	var finish = ViewBag.Finish;

	if(week == null)
	{
		//week = (int)DateTime.Now.DayOfWeek;
	}

}


<style>
	.flex_container {
		display: flex;
		justify-content: left;
		margin-bottom: 10px;
		flex-wrap: wrap;
        cursor:pointer;
	}
	.gnb_box {
		width: 80px;
		border-right: 1px solid black;
		text-align: center;
		cursor: pointer;
	}

	.lnb_box {
		width: 60px;
		/* border-right: 1px solid black; */
		text-align: center;
		/*margin-left:3px; */
		font-size: 13px;
		cursor: pointer;
	}

	.gnb_box.on {
		border-bottom: 1px solid #0094ff;
	}


	.lnb_box.on {
		border-bottom: 1px solid #0094ff;
	}

		

</style>

<script type="text/javascript">

    
	$(function () {
		
		//$("#lnb").show()

		$(".gnb_box").each(function (i, item) {
			$(this).removeClass("on");

			if ("@week" != "" ) {
				if (i == 0) $(this).addClass("on");
			}
			else if ("@genre" != "") {
				if (i == 1) $(this).addClass("on");
			}
			else if ("@finish" != "") {
				if (i == 2) $(this).addClass("on");
			}
		});
	});


	function goList(val, mode) {
		if (mode == 'w') {
			location.href = "/webtoon/week?week=" + val;
		}
		else if (mode == 'g') {
			location.href = "/webtoon/genre?genre=에피소드";
		}
		else if (mode == 'f') {
			location.href = "/webtoon/finish";
		}
	}
	



</script>

<div id="gnb" class="flex_container">
    <div class="gnb_box" onclick="javascript:goList('','w');">요일별</div>
    <div class="gnb_box" onclick="javascript:goList('','g');">장르별</div>
    <div class="gnb_box" onclick="javascript:goList('','f');">완결웹툰</div>
</div>



